#root {
    max-width: 1380px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.logo:hover {
    animation: logo-spin 2s linear infinite;
}

.logo.react:hover {
    animation: logo-spin 2s linear infinite;
}

.spin {
    animation: logo-spin infinite 1s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    .logo:hover {
        animation: logo-spin infinite 20s linear;
    }
}